<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gui_selectpop_btn_touch_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{90,86}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{90,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gui_selectpop_btn_touch_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,90},{90,86}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,53},{90,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gui_selectpop_btn_touch_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{90,86}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,51},{90,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gui_selectpop_btn_touch_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,178},{88,84}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,67},{88,84}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>gui_selectpop_btn_touch_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,147}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,171},{147,147}}</string>
                <key>sourceSize</key>
                <string>{493,493}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gui_selectpop_btn_touch_ios0.png</string>
            <key>size</key>
            <string>{243,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cb8a56e743c9b3cc5789fc4432f5386:1/1$</string>
            <key>textureFileName</key>
            <string>gui_selectpop_btn_touch_ios0.png</string>
        </dict>
    </dict>
</plist>
