<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gui_selectpop_btn_logo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui_selectpop_btn_logo10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{0,804},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui_selectpop_btn_logo11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{268,804},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui_selectpop_btn_logo12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{536,804},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui_selectpop_btn_logo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{268,0},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui_selectpop_btn_logo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{536,0},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui_selectpop_btn_logo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{0,268},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui_selectpop_btn_logo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{268,268},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui_selectpop_btn_logo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{536,268},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui_selectpop_btn_logo7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{0,536},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui_selectpop_btn_logo8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{268,536},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gui_selectpop_btn_logo9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,268}</string>
                <key>spriteSourceSize</key>
                <string>{268,268}</string>
                <key>textureRect</key>
                <string>{{536,536},{268,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gui_quna_cywll_icon.png</string>
            <key>size</key>
            <string>{804,1072}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:762b6b2be531ca79fa1eef8bca60438d:d1647da66fd0f625ca43da9d2e8d2e74:7f1274d96cba7d088c1f9bf3b4137e09$</string>
            <key>textureFileName</key>
            <string>gui_quna_cywll_icon.png</string>
        </dict>
    </dict>
</plist>
