<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>__dbTextures/XBL2019_xbl9z_mofa_lizi03/a_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,343},{251,240}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{251,240}}</string>
                <key>sourceSize</key>
                <string>{303,286}</string>
            </dict>
            <key>__dbTextures/XBL2019_xbl9z_mofa_lizi03/a_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,343},{274,262}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{274,262}}</string>
                <key>sourceSize</key>
                <string>{336,316}</string>
            </dict>
            <key>__dbTextures/cywll_yan/yan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,585},{32,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,101}}</string>
                <key>sourceSize</key>
                <string>{32,101}</string>
            </dict>
            <key>__dbTextures/ddgs_pk_fh_mov/1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,823},{155,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,184}}</string>
                <key>sourceSize</key>
                <string>{155,184}</string>
            </dict>
            <key>bingqiFX_69544.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,824},{303,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,197}}</string>
                <key>sourceSize</key>
                <string>{303,197}</string>
            </dict>
            <key>cywll_bzwf_bx07.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,824},{188,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,198}}</string>
                <key>sourceSize</key>
                <string>{188,198}</string>
            </dict>
            <key>cywll_dian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,820}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,820}}</string>
                <key>sourceSize</key>
                <string>{500,820}</string>
            </dict>
            <key>cywll_fyxt_tuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,916},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>cywll_shuxiao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{517,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,339}}</string>
                <key>sourceSize</key>
                <string>{517,339}</string>
            </dict>
            <key>cywll_shuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,823},{199,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,35}}</string>
                <key>sourceSize</key>
                <string>{199,35}</string>
            </dict>
            <key>cywll_wllback_jiaolv05.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1009},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>cywll_wllhun_zhuazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1009},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>cywll_wllhun_zuiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,988},{46,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,34}}</string>
                <key>sourceSize</key>
                <string>{46,34}</string>
            </dict>
            <key>cywll_wllntfj06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{198,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,258}}</string>
                <key>sourceSize</key>
                <string>{198,258}</string>
            </dict>
            <key>cywll_xbldunxia_zui01.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1009},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>cywll_yanmainb03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,619},{324,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,203}}</string>
                <key>sourceSize</key>
                <string>{324,203}</string>
            </dict>
            <key>cywll_yanmainb09.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1009},{16,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,13}}</string>
                <key>sourceSize</key>
                <string>{16,13}</string>
            </dict>
            <key>cywll_yxwf_zxf03_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,619},{202,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,192}}</string>
                <key>sourceSize</key>
                <string>{202,192}</string>
            </dict>
            <key>liukoushui_wll_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1009},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
            <key>npc_hudie_cb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,585},{24,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{24,54}</string>
            </dict>
            <key>wll_new_bcm_chibangy_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,585},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>wll_new_bcm_sqyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1009},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>wll_new_bcm_ssszuiba00.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,824},{90,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,71}}</string>
                <key>sourceSize</key>
                <string>{90,71}</string>
            </dict>
            <key>wll_new_cm_chibang_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,988},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>wll_new_cm_maozi_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,585},{45,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,32}}</string>
                <key>sourceSize</key>
                <string>{45,32}</string>
            </dict>
            <key>wll_new_cm_yumaobiti.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1009},{13,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,29}}</string>
                <key>sourceSize</key>
                <string>{13,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qner2019_cywll_ios1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ba6a69d6ec4bd19cb4f43f21dc49bc:2/18$</string>
            <key>textureFileName</key>
            <string>qner2019_cywll_ios1.png</string>
        </dict>
    </dict>
</plist>
