<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>__dbTextures/XBL2019_xbl9z_mofa_lizi03/a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,504},{236,212}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,32},{236,212}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>__dbTextures/cywll_jin_qipao/pp_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,260},{242,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,214}}</string>
                <key>sourceSize</key>
                <string>{242,214}</string>
            </dict>
            <key>__dbTextures/cywll_jin_shuibo/sssss_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,260},{284,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,103}}</string>
                <key>sourceSize</key>
                <string>{284,103}</string>
            </dict>
            <key>__dbTextures/wll_new_bcm_chibang_a/chibangc_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,742},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>a11_shitouyingzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,742},{72,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,30}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>cywll_abengdaia05.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,546},{262,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,103}}</string>
                <key>sourceSize</key>
                <string>{262,103}</string>
            </dict>
            <key>cywll_dian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{461,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,770}}</string>
                <key>sourceSize</key>
                <string>{461,770}</string>
            </dict>
            <key>cywll_dian08.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,260},{230,760}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,760}}</string>
                <key>sourceSize</key>
                <string>{230,760}</string>
            </dict>
            <key>cywll_fyxt_jg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,810},{102,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{102,152}</string>
            </dict>
            <key>cywll_wllntfj03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{248,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,443}}</string>
                <key>sourceSize</key>
                <string>{248,443}</string>
            </dict>
            <key>cywll_wllntfj04.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{256,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,556}}</string>
                <key>sourceSize</key>
                <string>{256,556}</string>
            </dict>
            <key>hlw_guang40.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,774},{248,238}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{248,238}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>npc_hudie_st01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,742},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>posuibingbing_m3.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,964},{57,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{57,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>wll_new_bcm_chibang_csssa.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,964},{41,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,27}}</string>
                <key>sourceSize</key>
                <string>{41,27}</string>
            </dict>
            <key>wll_new_bd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,742},{62,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,30}}</string>
                <key>sourceSize</key>
                <string>{62,30}</string>
            </dict>
            <key>wll_new_cm_yumao.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1007},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qner2019_cywll_ios4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ba6a69d6ec4bd19cb4f43f21dc49bc:5/18$</string>
            <key>textureFileName</key>
            <string>qner2019_cywll_ios4.png</string>
        </dict>
    </dict>
</plist>
