<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XBL2019_yan_L_0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,677},{70,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>__dbTextures/cywll_jin_qipao/pp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,749},{186,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,172}}</string>
                <key>sourceSize</key>
                <string>{186,172}</string>
            </dict>
            <key>__dbTextures/cywll_jin_shuibo02/sss_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,749},{270,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,174}}</string>
                <key>sourceSize</key>
                <string>{270,174}</string>
            </dict>
            <key>__dbTextures/cywll_yan/yan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,985},{37,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,101}}</string>
                <key>sourceSize</key>
                <string>{37,101}</string>
            </dict>
            <key>__dbTextures/xblh_shayu_xing2_mov/q_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{681,529}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,529}}</string>
                <key>sourceSize</key>
                <string>{681,529}</string>
            </dict>
            <key>bcm_zuibaqwewqeq.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,937},{85,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,67}}</string>
                <key>sourceSize</key>
                <string>{85,67}</string>
            </dict>
            <key>cywll_abengdaia12.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,527},{114,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,149}}</string>
                <key>sourceSize</key>
                <string>{114,149}</string>
            </dict>
            <key>cywll_abengdaia17.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,375},{150,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,114}}</string>
                <key>sourceSize</key>
                <string>{150,114}</string>
            </dict>
            <key>cywll_abengdaia19.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{187,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,114}}</string>
                <key>sourceSize</key>
                <string>{187,114}</string>
            </dict>
            <key>cywll_bzwf_bx04.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,533},{142,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,160}}</string>
                <key>sourceSize</key>
                <string>{142,160}</string>
            </dict>
            <key>cywll_dian09.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,749},{150,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,271}}</string>
                <key>sourceSize</key>
                <string>{150,271}</string>
            </dict>
            <key>cywll_fyxt_spljg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{20,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,158}}</string>
                <key>sourceSize</key>
                <string>{20,158}</string>
            </dict>
            <key>cywll_shengzi_level05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,162},{19,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,129}}</string>
                <key>sourceSize</key>
                <string>{19,129}</string>
            </dict>
            <key>cywll_yanmainb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,191},{182,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,114}}</string>
                <key>sourceSize</key>
                <string>{182,114}</string>
            </dict>
            <key>cywll_yanmainb08.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,937},{51,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,26}}</string>
                <key>sourceSize</key>
                <string>{51,26}</string>
            </dict>
            <key>cywll_yxwf_zxf06_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,533},{394,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,354}}</string>
                <key>sourceSize</key>
                <string>{394,354}</string>
            </dict>
            <key>liukoushui_wll_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,293},{18,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,51}}</string>
                <key>sourceSize</key>
                <string>{18,51}</string>
            </dict>
            <key>penyan_tu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,678},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>penyan_tu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,678},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>posuiguangquan_m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,929},{92,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>shuteng_youzou_tu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{272,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,161}}</string>
                <key>sourceSize</key>
                <string>{272,161}</string>
            </dict>
            <key>wll_new_bcm_chibang_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,985},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>wll_new_bcm_chibangy01.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,990},{32,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>wll_new_bcm_ssszuiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,677},{85,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,70}}</string>
                <key>sourceSize</key>
                <string>{85,70}</string>
            </dict>
            <key>wll_new_bcm_ssszuiba001.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,929},{105,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,93}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>wll_new_bcm_ssszuiba_zxf04e.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,677},{85,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,70}}</string>
                <key>sourceSize</key>
                <string>{85,70}</string>
            </dict>
            <key>wll_new_bcm_yan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,501},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>wll_new_bcm_zuiba_a002.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,677},{97,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,70}}</string>
                <key>sourceSize</key>
                <string>{97,70}</string>
            </dict>
            <key>wll_new_bcm_zuiba_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,937},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>wll_new_cmhei_cbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,678},{69,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,41}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>wll_new_cmhei_shetou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,985},{29,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{29,19}</string>
            </dict>
            <key>wll_new_cmhei_shetou03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,382},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>wll_new_cmhei_shetou04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,412},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>wll_new_cmhei_shetou05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,472},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>wll_new_cmhei_shetou06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,442},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>wll_new_cmhei_yanjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,346},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>wllkeng_level02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,929},{156,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,54}}</string>
                <key>sourceSize</key>
                <string>{156,54}</string>
            </dict>
            <key>yanwu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,533},{186,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,142}}</string>
                <key>sourceSize</key>
                <string>{186,142}</string>
            </dict>
            <key>zxf04_shuteng_tu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,745}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,745}}</string>
                <key>sourceSize</key>
                <string>{197,745}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qner2019_cywll_ios6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ba6a69d6ec4bd19cb4f43f21dc49bc:7/18$</string>
            <key>textureFileName</key>
            <string>qner2019_cywll_ios6.png</string>
        </dict>
    </dict>
</plist>
