<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XBL5_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,444},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>__dbTextures/cywll_jin_qipao/pp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,545},{97,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>__dbTextures/cywll_shui_MOV/water_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{539,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,423}}</string>
                <key>sourceSize</key>
                <string>{539,423}</string>
            </dict>
            <key>__dbTextures/cywll_shui_MOV/water_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{637,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{637,440}}</string>
                <key>sourceSize</key>
                <string>{637,440}</string>
            </dict>
            <key>__dbTextures/cywll_wllniba_level02/dirtspray_right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,985},{98,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,34}}</string>
                <key>sourceSize</key>
                <string>{98,34}</string>
            </dict>
            <key>__dbTextures/cywll_yan/yan_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,985},{35,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,101}}</string>
                <key>sourceSize</key>
                <string>{35,101}</string>
            </dict>
            <key>__dbTextures/cywll_yan/yan_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,985},{33,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,101}}</string>
                <key>sourceSize</key>
                <string>{33,101}</string>
            </dict>
            <key>__dbTextures/cywll_yan/yan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,985},{35,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,101}}</string>
                <key>sourceSize</key>
                <string>{35,101}</string>
            </dict>
            <key>bcm_zuibaqwewqeq01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,985},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>caocong.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,703},{289,176}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{289,176}}</string>
                <key>sourceSize</key>
                <string>{293,192}</string>
            </dict>
            <key>cywll_ZH_shoubi_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,995},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>cywll_abengdai07.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,881},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>cywll_bdcrtop02.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,881},{187,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,139}}</string>
                <key>sourceSize</key>
                <string>{187,139}</string>
            </dict>
            <key>cywll_bzwf_bx05.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{190,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{190,132}</string>
            </dict>
            <key>cywll_bzwf_zxf06_bengdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,703},{280,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,284}}</string>
                <key>sourceSize</key>
                <string>{280,284}</string>
            </dict>
            <key>cywll_fyxt_spljg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,985},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>cywll_fyxt_spljg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,194},{149,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,132}}</string>
                <key>sourceSize</key>
                <string>{149,132}</string>
            </dict>
            <key>cywll_wllback_cblv05c.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,985},{24,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,34}}</string>
                <key>sourceSize</key>
                <string>{24,34}</string>
            </dict>
            <key>cywll_wllfenmubeitu.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,881},{102,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,67}}</string>
                <key>sourceSize</key>
                <string>{102,67}</string>
            </dict>
            <key>cywll_wllntfj02.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{246,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,420}}</string>
                <key>sourceSize</key>
                <string>{246,420}</string>
            </dict>
            <key>cywll_wllntfj05.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,444},{257,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,496}}</string>
                <key>sourceSize</key>
                <string>{257,496}</string>
            </dict>
            <key>npc_hudie_st02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>posuibingbing_m5.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,637},{64,74}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{64,74}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>posuibingbing_m8.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,345},{61,64}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{61,64}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>wll_new_bcm_chibang_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,985},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>wll_new_bcm_chibang_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,408},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>wll_new_bcm_chibangy_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,985},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>wll_new_bcm_chibangy_a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,985},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>wll_new_bcm_chibangy_assa.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,985},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>wll_new_bcm_chibangy_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,985},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>wll_new_cmhei_xzuili.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,985},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>zxf_yanwu_tx_tu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,345},{97,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,67}}</string>
                <key>sourceSize</key>
                <string>{97,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qner2019_cywll_ios12.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ba6a69d6ec4bd19cb4f43f21dc49bc:13/18$</string>
            <key>textureFileName</key>
            <string>qner2019_cywll_ios12.png</string>
        </dict>
    </dict>
</plist>
