<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>__dbTextures/cywll_jin_qipao/pp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,796},{223,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,181}}</string>
                <key>sourceSize</key>
                <string>{223,181}</string>
            </dict>
            <key>__dbTextures/cywll_shui_MOV/water_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,463}}</string>
                <key>sourceSize</key>
                <string>{580,463}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,698},{96,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,538}}</string>
                <key>sourceSize</key>
                <string>{96,538}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,586},{110,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,538}}</string>
                <key>sourceSize</key>
                <string>{110,538}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{117,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,539}}</string>
                <key>sourceSize</key>
                <string>{117,539}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,467},{117,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,539}}</string>
                <key>sourceSize</key>
                <string>{117,539}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,467},{117,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,539}}</string>
                <key>sourceSize</key>
                <string>{117,539}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,467},{117,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,539}}</string>
                <key>sourceSize</key>
                <string>{117,539}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,467},{117,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,539}}</string>
                <key>sourceSize</key>
                <string>{117,539}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,467},{117,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,539}}</string>
                <key>sourceSize</key>
                <string>{117,539}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{117,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,539}}</string>
                <key>sourceSize</key>
                <string>{117,539}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,467},{117,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,539}}</string>
                <key>sourceSize</key>
                <string>{117,539}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,467},{117,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,539}}</string>
                <key>sourceSize</key>
                <string>{117,539}</string>
            </dict>
            <key>asfsadfa02.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,351},{123,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,111}}</string>
                <key>sourceSize</key>
                <string>{123,111}</string>
            </dict>
            <key>cywll_fyxt_xk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,796},{124,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,160}}</string>
                <key>sourceSize</key>
                <string>{124,160}</string>
            </dict>
            <key>cywll_shouzhi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,958},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>cywll_wllback_zuic.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,958},{62,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{62,86}</string>
            </dict>
            <key>cywll_wllfenmu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{451,300}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,300}}</string>
                <key>sourceSize</key>
                <string>{451,304}</string>
            </dict>
            <key>jz_xbl_gx01_li01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,233},{131,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{131,116}}</string>
                <key>sourceSize</key>
                <string>{137,122}</string>
            </dict>
            <key>jz_xbl_gx01_li05b.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,796},{224,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,233}}</string>
                <key>sourceSize</key>
                <string>{224,233}</string>
            </dict>
            <key>posuiguangquan_m3.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{132,132}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>wll_new_cm_shanghen.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,989},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>zxf_yanwu_tx_tu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,136},{132,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,95}}</string>
                <key>sourceSize</key>
                <string>{132,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qner2019_cywll_ios16.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ba6a69d6ec4bd19cb4f43f21dc49bc:17/18$</string>
            <key>textureFileName</key>
            <string>qner2019_cywll_ios16.png</string>
        </dict>
    </dict>
</plist>
