<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>04f_shuzhi_tu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{282,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,312}}</string>
                <key>sourceSize</key>
                <string>{282,312}</string>
            </dict>
            <key>__dbTextures/cywll_jin_shuibo/sssss_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,710},{299,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,90}}</string>
                <key>sourceSize</key>
                <string>{299,90}</string>
            </dict>
            <key>__dbTextures/cywll_jin_shuibo/sssss_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,710},{311,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,95}}</string>
                <key>sourceSize</key>
                <string>{311,95}</string>
            </dict>
            <key>__dbTextures/cywll_jin_shuibo/sssss_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,414},{293,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,101}}</string>
                <key>sourceSize</key>
                <string>{293,101}</string>
            </dict>
            <key>__dbTextures/cywll_jin_shuibo02/sss_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,225},{255,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,187}}</string>
                <key>sourceSize</key>
                <string>{255,187}</string>
            </dict>
            <key>__dbTextures/cywll_wllnibaa_level02/sasdwqrq_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{763,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{763,706}}</string>
                <key>sourceSize</key>
                <string>{763,706}</string>
            </dict>
            <key>__dbTextures/ddgs_pk_fh_mov/1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,414},{151,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,278}}</string>
                <key>sourceSize</key>
                <string>{151,278}</string>
            </dict>
            <key>cywll_abengdai14.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,888},{117,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,87}}</string>
                <key>sourceSize</key>
                <string>{117,87}</string>
            </dict>
            <key>cywll_bdcrtop04.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,888},{182,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,133}}</string>
                <key>sourceSize</key>
                <string>{182,133}</string>
            </dict>
            <key>cywll_bzwf_zxf07_bengdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,710},{336,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,309}}</string>
                <key>sourceSize</key>
                <string>{336,309}</string>
            </dict>
            <key>cywll_wllback_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,977},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>cywll_wllshitou_level02.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,977},{74,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,45}}</string>
                <key>sourceSize</key>
                <string>{74,45}</string>
            </dict>
            <key>jz_xbl_gx01_li04b.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{255,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{255,221}}</string>
                <key>sourceSize</key>
                <string>{259,231}</string>
            </dict>
            <key>liukoushui_wll_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,694},{12,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,32}}</string>
                <key>sourceSize</key>
                <string>{12,32}</string>
            </dict>
            <key>liukoushui_wll_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,694},{11,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,46}}</string>
                <key>sourceSize</key>
                <string>{11,46}</string>
            </dict>
            <key>wll_new_bcm_jiaoa.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,694},{9,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,19}}</string>
                <key>sourceSize</key>
                <string>{9,19}</string>
            </dict>
            <key>wll_new_cm_juanmao.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,694},{18,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,9}}</string>
                <key>sourceSize</key>
                <string>{18,9}</string>
            </dict>
            <key>wll_new_cm_tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,694},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>zxf04_shuteng_tu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,802},{84,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,293}}</string>
                <key>sourceSize</key>
                <string>{84,293}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qner2019_cywll_ios5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ba6a69d6ec4bd19cb4f43f21dc49bc:6/18$</string>
            <key>textureFileName</key>
            <string>qner2019_cywll_ios5.png</string>
        </dict>
    </dict>
</plist>
