<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XBL2019_CH_normalzui_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,336},{119,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,49}}</string>
                <key>sourceSize</key>
                <string>{119,49}</string>
            </dict>
            <key>__dbTextures/cywll_shui_MOV/water_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,383}}</string>
                <key>sourceSize</key>
                <string>{664,383}</string>
            </dict>
            <key>__dbTextures/cywll_wllniba_level02/dirtspray_right_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,336},{144,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,49}}</string>
                <key>sourceSize</key>
                <string>{144,49}</string>
            </dict>
            <key>__dbTextures/cywll_wllniba_level02/dirtspray_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,983},{52,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,23}}</string>
                <key>sourceSize</key>
                <string>{52,23}</string>
            </dict>
            <key>__dbTextures/xblh_shayu_xing2_mov/q_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{631,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{631,533}}</string>
                <key>sourceSize</key>
                <string>{633,533}</string>
            </dict>
            <key>cywll_abengdai10.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,844},{137,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,52}}</string>
                <key>sourceSize</key>
                <string>{137,52}</string>
            </dict>
            <key>cywll_bzwf_bx02.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,844},{178,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,118}}</string>
                <key>sourceSize</key>
                <string>{178,118}</string>
            </dict>
            <key>cywll_bzwf_bx06.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,844},{162,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,178}}</string>
                <key>sourceSize</key>
                <string>{162,178}</string>
            </dict>
            <key>cywll_shuxiao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{332,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,348}}</string>
                <key>sourceSize</key>
                <string>{332,348}</string>
            </dict>
            <key>cywll_yxwf_zxf07_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,387},{483,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,455}}</string>
                <key>sourceSize</key>
                <string>{483,455}</string>
            </dict>
            <key>penyan_tu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,336},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,49}}</string>
                <key>sourceSize</key>
                <string>{51,49}</string>
            </dict>
            <key>wll_new_bcm_chibangy_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,336},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>yanwu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,844},{178,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,147}}</string>
                <key>sourceSize</key>
                <string>{178,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qner2019_cywll_ios8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ba6a69d6ec4bd19cb4f43f21dc49bc:9/18$</string>
            <key>textureFileName</key>
            <string>qner2019_cywll_ios8.png</string>
        </dict>
    </dict>
</plist>
