<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>04f_shuyeding_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{482,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,320}}</string>
                <key>sourceSize</key>
                <string>{482,320}</string>
            </dict>
            <key>XBL2019_hand_22_c_zxf_04_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,330},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>__dbTextures/XBL2019_xbl9z_mofa_lizi03/a_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{208,194}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,47},{208,194}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>__dbTextures/cywll_jin_qipao/pp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,588},{187,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,184}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>__dbTextures/cywll_shui_MOV/water_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{615,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,269}}</string>
                <key>sourceSize</key>
                <string>{615,269}</string>
            </dict>
            <key>__dbTextures/cywll_wllniba_level02/dirtspray_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,403},{78,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,29}}</string>
                <key>sourceSize</key>
                <string>{78,29}</string>
            </dict>
            <key>__dbTextures/cywll_yan/yan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,486},{39,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,101}}</string>
                <key>sourceSize</key>
                <string>{39,101}</string>
            </dict>
            <key>__dbTextures/wll_new_bcm_zuiba_a/zuiba_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,126},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>__dbTextures/wll_new_bcm_zuiba_a/zuiba_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,228},{79,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,100}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>__dbTextures/wll_new_zm_chibang/chibangz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,449},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bingqiFX_36284.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,422},{78,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{78,78}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>bingqiFX_44986.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,962},{82,60}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{82,60}}</string>
                <key>sourceSize</key>
                <string>{134,102}</string>
            </dict>
            <key>cywll_abengdaia07.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,486},{176,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,101}}</string>
                <key>sourceSize</key>
                <string>{176,101}</string>
            </dict>
            <key>cywll_bdcrd01.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,273},{197,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,128}}</string>
                <key>sourceSize</key>
                <string>{197,128}</string>
            </dict>
            <key>cywll_bzwf_bx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,273},{159,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,128}}</string>
                <key>sourceSize</key>
                <string>{159,128}</string>
            </dict>
            <key>cywll_bzwf_zxf04_bengdai.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,403},{184,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,188}}</string>
                <key>sourceSize</key>
                <string>{184,188}</string>
            </dict>
            <key>cywll_djtx01_level05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{528,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,414}}</string>
                <key>sourceSize</key>
                <string>{528,414}</string>
            </dict>
            <key>cywll_fyxt_landeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,403},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>cywll_fyxt_spljg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,273},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>cywll_yanmainb07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,589},{426,418}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,418}}</string>
                <key>sourceSize</key>
                <string>{426,420}</string>
            </dict>
            <key>jug_pie1e.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,335},{138,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,43}}</string>
                <key>sourceSize</key>
                <string>{138,43}</string>
            </dict>
            <key>languang.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,777},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>posuibingbing_m4.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,502},{62,82}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{62,82}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>wll_new_cm_shen01_zxf04f.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,962},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>wll_new_cm_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,403},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>zxf_yanwu_tx_tu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{122,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,81}}</string>
                <key>sourceSize</key>
                <string>{122,81}</string>
            </dict>
            <key>zxf_yanwu_tx_tu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,486},{112,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,100}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qner2019_cywll_ios15.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ba6a69d6ec4bd19cb4f43f21dc49bc:16/18$</string>
            <key>textureFileName</key>
            <string>qner2019_cywll_ios15.png</string>
        </dict>
    </dict>
</plist>
