<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>__dbTextures/cywll_jin_shuibo01/wwwww_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,594},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,55}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>__dbTextures/cywll_jin_shuibo01/wwwww_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,594},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>__dbTextures/xblh_shayu_xing2_mov/q_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{590,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,533}}</string>
                <key>sourceSize</key>
                <string>{590,533}</string>
            </dict>
            <key>a11_shitou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,975},{65,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,47}}</string>
                <key>sourceSize</key>
                <string>{65,47}</string>
            </dict>
            <key>bingqiFX_37544.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,975},{46,44}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{46,44}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>bingqiFX_55202.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,594},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>bingqiFX_98990.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,594},{60,54}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{60,54}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>cywll_dian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,652},{321,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,640}}</string>
                <key>sourceSize</key>
                <string>{321,640}</string>
            </dict>
            <key>cywll_fyxt_aniuhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,594},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>cywll_fyxt_spljg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,975},{65,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,31}}</string>
                <key>sourceSize</key>
                <string>{65,31}</string>
            </dict>
            <key>cywll_hand_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,594},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>cywll_shengtou_level05.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,975},{45,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,149}}</string>
                <key>sourceSize</key>
                <string>{45,149}</string>
            </dict>
            <key>cywll_ssbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,648}}</string>
                <key>sourceSize</key>
                <string>{481,648}</string>
            </dict>
            <key>cywll_wllback_shenti01.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,975},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>hongdeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,975},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>keng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{370,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,375}}</string>
                <key>sourceSize</key>
                <string>{370,375}</string>
            </dict>
            <key>penyan_tu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,594},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>posuibingbing_m1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,594},{44,53}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>wll_new_cm_shen.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,975},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>wll_new_cm_shen01.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,975},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>wll_new_cm_shen01_zxf04e.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,975},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>wll_new_cmhei_sty.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,594},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>wll_new_cmhei_szuili.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,975},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>wll_new_zm_chibansergv.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,975},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qner2019_cywll_ios11.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ba6a69d6ec4bd19cb4f43f21dc49bc:12/18$</string>
            <key>textureFileName</key>
            <string>qner2019_cywll_ios11.png</string>
        </dict>
    </dict>
</plist>
