<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XBL2019_yan_L_090.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,953},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>XBL2019_yan_L_0901.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,953},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>XBL2019_yan_R_0901.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,953},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>__dbTextures/cywll_jin_shuibo01/wwwww_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,179},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>__dbTextures/cywll_shui_MOV/water_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{626,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,232}}</string>
                <key>sourceSize</key>
                <string>{626,232}</string>
            </dict>
            <key>__dbTextures/cywll_shui_level05/bowen_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{590,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,277}}</string>
                <key>sourceSize</key>
                <string>{590,277}</string>
            </dict>
            <key>__dbTextures/cywll_shui_level05/bowen_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{590,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,277}}</string>
                <key>sourceSize</key>
                <string>{590,277}</string>
            </dict>
            <key>__dbTextures/wll_new_zm_chibang/chibangz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,931},{41,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,26}}</string>
                <key>sourceSize</key>
                <string>{41,26}</string>
            </dict>
            <key>__dbTextures/xblh_shayu_xing2_mov/q_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{620,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,500}}</string>
                <key>sourceSize</key>
                <string>{620,500}</string>
            </dict>
            <key>cywll_ZH_shoubi_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,884},{45,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,26}}</string>
                <key>sourceSize</key>
                <string>{45,26}</string>
            </dict>
            <key>cywll_abengdaia02.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,259},{65,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,96}}</string>
                <key>sourceSize</key>
                <string>{65,96}</string>
            </dict>
            <key>cywll_abengdaia06.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{341,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,152}}</string>
                <key>sourceSize</key>
                <string>{341,152}</string>
            </dict>
            <key>cywll_abengdaia09.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,501},{112,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,74}}</string>
                <key>sourceSize</key>
                <string>{112,74}</string>
            </dict>
            <key>cywll_bengdai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,94},{83,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,48}}</string>
                <key>sourceSize</key>
                <string>{83,48}</string>
            </dict>
            <key>cywll_hlw.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,849},{50,72}}</string>
                <key>offset</key>
                <string>{-3,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,437},{50,72}}</string>
                <key>sourceSize</key>
                <string>{780,798}</string>
            </dict>
            <key>cywll_sbtuanjiao_level02.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,953},{104,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,61}}</string>
                <key>sourceSize</key>
                <string>{104,61}</string>
            </dict>
            <key>cywll_shuye_level02.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,2},{48,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,90}}</string>
                <key>sourceSize</key>
                <string>{48,90}</string>
            </dict>
            <key>cywll_wllback_maozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,784},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>cywll_wllback_yanjing01001.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,974},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>cywll_wllback_yanjing06001.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,901},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>cywll_wllfenmu02222.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,416},{83,63}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{83,63}}</string>
                <key>sourceSize</key>
                <string>{131,83}</string>
            </dict>
            <key>cywll_wllfenmubeiyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,787},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>cywll_yanmainb04.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,186},{324,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,278}}</string>
                <key>sourceSize</key>
                <string>{324,278}</string>
            </dict>
            <key>cywll_yxwf_zxf05_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,651},{321,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,300}}</string>
                <key>sourceSize</key>
                <string>{321,300}</string>
            </dict>
            <key>cywll_zugan_level05.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,156},{28,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,340}}</string>
                <key>sourceSize</key>
                <string>{28,340}</string>
            </dict>
            <key>jug_pie1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,615},{101,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,74}}</string>
                <key>sourceSize</key>
                <string>{101,74}</string>
            </dict>
            <key>lgjb_gd_pp.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,718},{73,67}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>npc_hudie_st.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,738},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>null_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,856},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>penyan_tu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,357},{64,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,57}}</string>
                <key>sourceSize</key>
                <string>{64,57}</string>
            </dict>
            <key>shuteng_youzou_tu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,466},{322,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,183}}</string>
                <key>sourceSize</key>
                <string>{322,183}</string>
            </dict>
            <key>wll_new_bcm_chibang_c01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,829},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>wll_new_cm_shen03.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,901},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>wll_new_cmhei_szui.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,953},{63,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,81}}</string>
                <key>sourceSize</key>
                <string>{63,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qner2019_cywll_ios14.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ba6a69d6ec4bd19cb4f43f21dc49bc:15/18$</string>
            <key>textureFileName</key>
            <string>qner2019_cywll_ios14.png</string>
        </dict>
    </dict>
</plist>
