<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>__dbTextures/cywll_shui_level05/bowen_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,432},{590,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,281}}</string>
                <key>sourceSize</key>
                <string>{590,281}</string>
            </dict>
            <key>__dbTextures/cywll_shui_level05/bowen_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,432},{590,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,283}}</string>
                <key>sourceSize</key>
                <string>{590,283}</string>
            </dict>
            <key>__dbTextures/cywll_shui_level05/bowen_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,432},{590,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,283}}</string>
                <key>sourceSize</key>
                <string>{590,283}</string>
            </dict>
            <key>__dbTextures/cywll_shui_level05/bowen_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{590,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,292}}</string>
                <key>sourceSize</key>
                <string>{590,292}</string>
            </dict>
            <key>__dbTextures/cywll_tx_fire/huo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,159},{157,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,122}}</string>
                <key>sourceSize</key>
                <string>{157,122}</string>
            </dict>
            <key>__dbTextures/wll_new_cm_chibang_a/chibanga_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,669},{83,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,76}}</string>
                <key>sourceSize</key>
                <string>{83,76}</string>
            </dict>
            <key>bcm_zuiba_dssss.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,936},{86,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,67}}</string>
                <key>sourceSize</key>
                <string>{86,67}</string>
            </dict>
            <key>cywll_abengdai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,283},{80,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,114}}</string>
                <key>sourceSize</key>
                <string>{80,114}</string>
            </dict>
            <key>cywll_abengdai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,283},{147,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,113}}</string>
                <key>sourceSize</key>
                <string>{147,113}</string>
            </dict>
            <key>cywll_abengdai11.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,828},{169,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,81}}</string>
                <key>sourceSize</key>
                <string>{169,81}</string>
            </dict>
            <key>cywll_abengdaia08.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,431},{236,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,76}}</string>
                <key>sourceSize</key>
                <string>{236,76}</string>
            </dict>
            <key>cywll_bdcrtop03.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,294},{190,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,135}}</string>
                <key>sourceSize</key>
                <string>{190,135}</string>
            </dict>
            <key>cywll_djtx02_level05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{631,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,428}}</string>
                <key>sourceSize</key>
                <string>{631,428}</string>
            </dict>
            <key>cywll_fyxt_xk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{109,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,160}}</string>
                <key>sourceSize</key>
                <string>{109,160}</string>
            </dict>
            <key>cywll_fyxt_xk01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{112,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{112,160}</string>
            </dict>
            <key>cywll_fyxt_xk03a.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,164},{117,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,168}}</string>
                <key>sourceSize</key>
                <string>{117,168}</string>
            </dict>
            <key>cywll_wllhun_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,563},{79,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,138}}</string>
                <key>sourceSize</key>
                <string>{79,138}</string>
            </dict>
            <key>jug_pie1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,823},{111,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>jug_pie1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,703},{123,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,79}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>jug_pie1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,164},{128,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,57}}</string>
                <key>sourceSize</key>
                <string>{128,57}</string>
            </dict>
            <key>posuibingbing_m6.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,489},{72,80}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>posuibingbing_m7.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,754},{67,76}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{67,76}}</string>
                <key>sourceSize</key>
                <string>{89,88}</string>
            </dict>
            <key>wll_new_cmhei_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,399},{80,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>wll_new_zm_chibangsss.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,999},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>wll_zhuang_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{155,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,157}}</string>
                <key>sourceSize</key>
                <string>{155,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qner2019_cywll_ios13.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ba6a69d6ec4bd19cb4f43f21dc49bc:14/18$</string>
            <key>textureFileName</key>
            <string>qner2019_cywll_ios13.png</string>
        </dict>
    </dict>
</plist>
